li a {
    color: green;
    background-color: blanchedalmond;
}

body {
    background: url("/static/polls/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}
